{% extends 'index.html' %}
{% block title %}Gaming Laptops{% endblock title %}


{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link href="/static/css/product.css" rel="stylesheet">

{% for lap in products3 %}
 <a href="/inner/{{lap.id}}">
    <div class="col-md-3 col-sm-6 d-inline-block" style="margin:20px;">
        <div class="product-grid4">
            <div class="product-image4">
                <img src="/{{lap.img}}" style="height:350px;width:450px;border-radius:10px;margin-top:20px;">
                <span class="product-new-label">New</span>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">{{lap.name}}</a></h3>
                <div class="price">
                    {{lap.price}}
                </div>
                <a class="add-to-cart" href="">ADD TO CART</a>
            </div>
        </div>
    </div>
    </a>
{% endfor %} 
{% endblock body %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>